#Размещение баннеров

In [39]:
import numpy as np
import pandas as pd
from sklearn.cluster import MeanShift

In [40]:
data = pd.read_csv("checkins_100k.csv")

In [41]:
data.head(10)

       id  user_id  venue_id   latitude   longitude           created_at
0  984222    15824      5222  38.895112  -77.036366  2012-04-21 17:43:47
1  984234    44652      5222  33.800745  -84.410520  2012-04-21 17:43:43
2  984291   105054      5222  45.523452 -122.676207  2012-04-21 17:39:22
3  984318  2146539      5222  40.764462 -111.904565  2012-04-21 17:35:46
4  984232    93870    380645  33.448377 -112.074037  2012-04-21 17:38:18
5  984483  1030290    955969  32.221743 -110.926479  2012-04-21 17:58:54
6  984685   304253     23558  40.650000  -73.950000  2012-04-21 18:19:34
7  984470   720850    749715  33.448377 -112.074037  2012-04-21 17:02:47
8  984610  1639666    442605  33.414768 -111.909309  2012-04-21 18:04:58
9  984653  1647192     23558  42.358431  -71.059773  2012-04-21 18:23:22

In [42]:
clusterisator = MeanShift(bandwidth=0.1)

In [43]:
X_tarin = data[['latitude', 'longitude']]

In [44]:
y = clusterisator.fit_predict(X_tarin)

In [45]:
clustered_data = X_tarin.copy()
clustered_data['cluster_id'] = y

In [46]:
clustered_data.head()

    latitude   longitude  cluster_id
0  38.895112  -77.036366           5
1  33.800745  -84.410520           7
2  45.523452 -122.676207          30
3  40.764462 -111.904565          65
4  33.448377 -112.074037           1

In [72]:
unique_clusters = clustered_data.groupby(['cluster_id'])
clustered_15 = unique_clusters.count().index[unique_clusters.count()['longitude'] > 15]

In [85]:
clustered_15_data = clustered_data.loc[clustered_data['cluster_id'].isin(clustered_15)]

In [99]:
cluster_centers = clusterisator.cluster_centers_

In [101]:
cluster_centers_15 = cluster_centers[clustered_15]

In [107]:
from math import sin, cos, sqrt, atan2, radians
offices = [[33.751277, -118.188740],
           [25.867736, -80.324116],
           [51.503016, -0.075479],
           [52.378894, 4.885084],
           [39.366487, 117.036146],
           [-33.868457, 151.205134]]
R = 6373.0

In [118]:
distance = dict()
for point in cluster_centers_15:
    for office in offices:
        lat1 = radians(point[0])
        lon1 = radians(point[1])
        lat2 = radians(office[0])
        lon2 = radians(office[1])
        dlon = lon2 - lon1
        dlat = lat2 - lat1
        a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
        c = 2 * atan2(sqrt(a), sqrt(1 - a))
        distance[R * c] = f"{point[0]} {point[1]}"

In [132]:
distance[sorted(distance)[0]]

'52.37296399032261 4.892317222580647'